{% extends "base.html" %}
{% block content %}
<div class="jumbotron">
{% if session['logged_in'] %}
<p>You're logged in already!</p>
{% else %}
	<h2>로그인</h2>
	<form class="form-horizontal" action="/login" method="POST">
		<div class="form-group">
			<label class="control-label col-sm-2" for="username">UserID:</label>
			<div class="col-sm-10">
				<input type="text" class="form-control" name="username" placeholder="Enter userID">
			</div>
		</div>
		<div class="form-group">
			<label class="control-label col-sm-2" for="pwd">Password:</label>
			<div class="col-sm-10">
				<input type="password" class="form-control" name="password" placeholder="Enter password">
			</div>
		</div>
		<div class="form-group">
			<div class="col-sm-offset-2 col-sm-10">
				<div class="checkbox">
					<label><input type="checkbox"> Remember me</label>
				</div>
			</div>
		</div>
		<div class="form-group">
			<div class="col-sm-offset-2 col-sm-10">
				<button type="submit" class="btn btn-primary btn-block">로그인</button>
			</div>
		</div>
	</form>
	<br>
	<div>
		Don't have an account?
		<button type="submit" class="btn btn-primary" onclick="location.href={{ url_for('register') }}">회원가입</button>

	</div>

{% endif %}
</div>
{% endblock %}